.LearnDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.LearnDiv section {
  min-width: 80vw;
  border-radius: 2rem;
  padding: 1rem;
}



@media only screen and (min-width: 800px) {
  .LearnDiv section {
    max-width: 80vw;
    margin-top: 3rem;
  }

  .donutJarContainer {
    display: flex;
    /* background-color: green; */
    padding: 1rem;
    background-color: #1e1e24;
    /* background-image: url("./raw/DonutStuff/marble.svg"); */
    /* background-image: linear-gradient(rgb(98, 33, 0), pink); */
    border: 2rem dotted pink;
    background-size: cover;
    border-radius: 2rem;
    justify-content: space-around;
  }

  .donutJar {
    /* background-color: blue; */
    max-width: 31%;
  }
}










.eyeMainDiv {
  animation: moveIn 4s;
}




@keyframes moveIn {
  0% {
    left: 100vw;
    opacity: 0;
    rotate: 180deg;
  }

  75% {
    left: 0;
    rotate: 0;
  }

  100% {
    opacity: 1;
  }
}