.artisticMainDiv {
    color: #000;
    font-size: 16px;
    font-family: var(--font-playfair_display);
}

.makeBold {
    font-weight: 700;
}

.artisticMainDiv svg {
    all: unset;
    height: 1.2rem;
    aspect-ratio: 1/1;
}

.artisticMainDiv svg:hover {
    scale: 1;
}

.artisticMainDiv h2 {
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.artisticMainDiv h3 {
    font-weight: 500;
}

.darkBackdrop::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4), transparent);
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: -1;
    animation: animFilterKeyframes 2s forwards;
}


.darkBackdrop {
    position: relative;
    z-index: 1;
}


@keyframes animFilterKeyframes {
    to {
        background-color: transparent;
    }
}

.artisticMainDiv section {
    padding: 2rem;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    perspective: 200px;
    transform-style: preserve-3d;
    overflow: hidden;
}


.artisticMainDiv button {
    all: unset;
    padding: 1rem;
    background: pink;
    cursor: pointer;
    text-transform: uppercase;
}

.artisticMainDiv button:hover {
    filter: brightness(.8);
}

.navItemsCont {
    color: #fff;
    fill: #fff;
    white-space: nowrap;
}

.navItemsCont>li {
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.navItemsCont>li:hover {
    background-color: #9c4e59
}

.navItemsCont>li:hover>ul {
    display: grid;
}

.navItemsCont>li>ul {
    display: none;
    position: absolute;
    margin-top: 1rem;
    background-color: pink;
    translate: -1rem 0;
}

/* submenu */
.navItemsCont>li>ul>li {
    padding: 1rem;
    cursor: pointer;
}

.navItemsCont>li>ul>li:hover {
    background-color: #9c4e59;
}

@media only screen and (max-width: 600px) {}

.heroItemsCont {
    color: #fff;
    display: grid;
    gap: 1rem;
    justify-items: center;
    text-align: center;
}

.arrivalItem {
    text-align: center;
    display: grid;
    gap: .5rem;
}

.arrivalItem>div:first-of-type>button {
    opacity: 0;
    pointer-events: none;
    transition: opacity 600ms;
}

.arrivalItem>div:first-of-type:hover>button {
    opacity: 1;
    filter: brightness(1);
    pointer-events: all;
}

.arrivalItem>div:first-of-type>img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../../public/homepages/defaultjewel.png");
    background-size: cover;
}

.itemAnim {
    animation: itemAnimationKeyframes 1s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

@keyframes itemAnimationKeyframes {
    0% {
        scale: .7;
        opacity: 0;
        transform: translateZ(-100px) translateX(-1000px);
    }

    100% {
        scale: 1;
        opacity: 1;
        transform: translateZ(0px) translateX(0px);
    }
}

.creditCardsCont>svg {
    width: 2rem;
    aspect-ratio: 1/1;

}

.artisticMainDiv * {
    /* animation-iteration-count: infinite !important; */
}


.animOpacity {
    animation: animOpacityKeyframes 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes animOpacityKeyframes {

    to {
        opacity: 1;
    }
}



.fadeRotateIn {
    animation: fadeRotateInKeyframes 2s;
}

@keyframes fadeRotateInKeyframes {
    0% {
        opacity: 0;
        transform: translateZ(100px) rotateX(30deg);
    }

    100% {
        opacity: 1;
        transform: translateZ(0px);

    }
}



.fadeBottomUp {
    position: relative;
    animation: fadeBottomUpKeyframes 2s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

@keyframes fadeBottomUpKeyframes {
    0% {
        opacity: 0;
        translate: 0 100px
    }

    100% {
        opacity: 1;
        translate: 0 0px
    }
}



.transformTopDown {
    position: relative;
    animation: transformTopDownKeyframes 2s;
}

@keyframes transformTopDownKeyframes {
    0% {
        translate: 0 -100%
    }

    100% {
        translate: 0 0px
    }
}