.artisticMainDiv {
    color: #000;
    font-size: 16px;
}

.artisticMainDiv svg {
    all: unset;
    height: 1.2rem;
    aspect-ratio: 1/1;
}

.artisticMainDiv svg:hover {
    scale: 1;
}

.artisticMainDiv h2 {
    text-align: center;
    color: #fff;
}

.darkBackdrop::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    z-index: -1;
}

.darkBackdrop {
    position: relative;
    z-index: 1;
}


.artisticMainDiv section {
    padding: 2rem;
    background-color: #fff;
    background-position: center;
    background-size: cover;
}


.artisticMainDiv button {
    all: unset;
    padding: 1rem;
    background: pink;
    cursor: pointer;
    text-transform: uppercase;
}

.artisticMainDiv button:hover {
    filter: brightness(.8);
}

.navItemsCont {
    color: #fff;
    fill: #fff;
    white-space: nowrap;
}

.navItemsCont>li {
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.navItemsCont>li:hover {
    background-color: #9c4e59
}

.navItemsCont>li:hover>ul {
    display: grid;
}

.navItemsCont>li>ul {
    display: none;
    position: absolute;
    margin-top: 1rem;
    background-color: pink;
    translate: -1rem 0;
}

/* submenu */
.navItemsCont>li>ul>li {
    padding: 1rem;
    cursor: pointer;
}

.navItemsCont>li>ul>li:hover {
    background-color: rgb(255 179 191);
}

@media only screen and (max-width: 600px) {}

.heroItemsCont {
    color: #fff;
    display: grid;
    gap: 1rem;
    justify-items: center;
    text-align: center;
}

.arrivalItem {
    text-align: center;
    display: grid;
    gap: .5rem;
}

.arrivalItem>div:first-of-type>button {
    display: none;
}

.arrivalItem>div:first-of-type:hover>button {
    display: block;
}

.arrivalItem>div:first-of-type>img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../../../public/homepages/defaultjewel.png");
    background-size: cover;
}


.creditCardsCont>svg {
    width: 2rem;
    aspect-ratio: 1/1;

}