.cubesMainDiv:root {
    --cubeSecondaryColor: "blue";
}

.cubesMainDiv {}

.cubesMainDiv h1 {
    all: unset;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
    font-family: var(--font-roboto-mono);
}

.cubesMainDiv h1::before {
    all: unset;
}

.cubesMainDiv h3 {
    all: unset;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}

.cubesMainDiv h4 {
    all: unset;
    font-weight: bold;
}


.cubesMainDiv button {
    all: unset;
    margin: .25rem;
    background-color: green;
    padding: .7rem 1rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: filter 400ms;
}

.cubesMainDiv button:hover {
    filter: brightness(.8);
}

.cubesMainDiv .shortText {
    max-width: 400px;
}

.cubesMainDiv section {
    padding: 1rem;
}




.headerCont {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: .5rem;
    margin-bottom: .5rem;
}

.headerCont>:nth-child(2) {
    border-bottom: 2px solid #f96e23;
    translate: 0 -.4rem;
}

.headerCont>:nth-child(3) {
    grid-column: span 2;
    color: #f96e23;
}


.threeContainer {
    background-color: #04121d;
    padding: .7rem;
}


.points {
    position: relative;
    animation: moveUp 1s var(--pointTimeOffset) alternate infinite;
    translate: 0 0;
}

@keyframes moveUp {
    to {
        translate: 0 -300%;
    }
}