.mountainMainDiv h1 {
    all: unset;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    margin-block: .5rem;
    font-family: var(--font-roboto-mono);
}

.mountainMainDiv h1::before {
    all: unset;
}

.mountainMainDiv h2 {
    all: unset;
    font-size: 1.5rem;
    font-weight: bold;
    margin-block: 1rem;
}

.mountainMainDiv h3 {
    all: unset;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}


.highlightedWorm {
    background-color: pink !important;
}